[SddmGreeterTheme]
Name=Destructor_Ben
Description=Destructor_Ben
Author=Destructor_Ben & snes
Type=sddm-theme
Version=1.0
MainScript=Main.qml
Theme-Id=Destructor_Ben
Theme-API=2.0
QtVersion=6